*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.dropElm{
    background-color: #aaa;
    width: 60%;
    height: 400px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.fa-arrow-up-from-bracket{
    font-size: 45px;
    color: white;
    cursor: pointer;
}

.inpt{
    display: none;
}

button{
    color: red;
    background-color: transparent;
    border: none;
    font-size: 50px;
}